.about {
    padding: var(--MarginM) 0;
}

.title {
    font-size: 2.25rem;
    color: var(--ColorPrimary);
}

.img {
    width: 100%;
    margin-bottom: var(--MarginS);
}

.map {
    width: 100%;
    height: 25rem;
}