.card {
    margin-bottom: var(--MarginS);
}

.title {
    font-size: 1.5rem;
    margin-bottom: var(--MarginS);
}

.imgContainer {
    display: flex;
    overflow: auto;
}

.img {
    width: 12.5rem;
    height: 15.625rem;
    object-fit: cover;
    border-radius: .625rem;
    margin-right: var(--MarginS);
    cursor: pointer;
}