:root {
    /* Variables */
    --ColorPrimary: #d9519a;
    --ColorBlack: #050505;
    --ColorWhite: #f5f5f5;

    --Transition: .3s;

    --MarginX: 3rem;
    --MarginM: 2rem;
    --MarginS: 1rem;
}

* {
    box-sizing: border-box;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

html {
    background-color: #0a0a0a;
}

.container {
  max-width: 1200px;
  width: 90%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 7rem;
    margin-bottom: var(--MarginS);
  }
  
  .subtitle {
    margin-bottom: var(--MarginS);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1.15px;
    color: var(--ColorPrimary);
  }
  
  .subtitlePage {
    font-size: 1.2rem;
    color: var(--ColorPrimary);
    margin-top: var(--MarginM);
  }
  
  .paragrahtTitle {
    font-weight: 600;
    margin-bottom: var(--MarginS);
    color: var(--ColorPrimary);
    text-transform: uppercase;
  }
  
  .paragrath {
    margin-bottom: var(--MarginS);
    letter-spacing: 1.15px;
  }
  
  .paragrathList {
    margin: 0;
  }
  
  .paragrathList:last-of-type {
    margin-bottom: var(--MarginS);
  }